<div class="panel panel-default">
    <div ng-show="IsCurrUser()" class="panel-heading"><a href="" ng-click="ShowEdit()" class="pull-right">Chỉnh sửa thông tin <i class="material-icons" style="font-size:16px; color: #02a8f3;">border_color</i></a> <h4>Thông tin thêm</h4></div>
    <div class="panel-body">
        <a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Bạn bè <span class="badge">{{user.friendNumber}}</span></a><br>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h4>Mô tả bản thân & sở thích <i class="fa fa-info" aria-hidden="true"></i></h4></div>
    <div class="panel-body">
        <textarea style="cursor: default" rows="5" class="form-control" readonly id="info-description">{{user.description}}</textarea>
    </div>
</div>