#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
 .ngdialog.ngdialog-theme-custom {
            padding-top: 125px;
            padding-bottom: 125px;
        }

            .ngdialog.ngdialog-theme-custom .ngdialog-overlay {
                background: rgba(255,255,255,.5);
            }

            .ngdialog.ngdialog-theme-custom .ngdialog-content {
                background: rgba(255,255,255,.9);
                padding: 1.8em 2em;
                width: 440px;
                -webkit-border-radius: 0;
                border-radius: 0;
            }

            .ngdialog.ngdialog-theme-custom .ngdialog-message h2 {
                font-size: 26px;
                font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
                line-height: 30px;
                margin-bottom: 20px;
            }

            .ngdialog.ngdialog-theme-custom .ngdialog-message {
                font-size: 16px;
                font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
                line-height: 22px;
            }

                .ngdialog.ngdialog-theme-custom .ngdialog-message ul {
                    padding: 0 0 5px 35px;
                }

            .ngdialog.ngdialog-theme-custom .ngdialog-button.ngdialog-button-primary {
                background: #27ae60;
                -webkit-border-radius: 0;
                border-radius: 0;
            }

.box-view-image{
    height: 550px;
}
.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.image-item{
    width: 150px;
    height: 150px;
}
.album-item{
    width: 100px;
    height: 100px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .box-view-image {
            height: 500;
    }
    .album-item{
        width: 90px;
        height: 90px;
    }
}

li.li-noti-noti
{
    color: white;
}
.oldnoti{
    border-left: 10px solid #DDDDDD; border-radius: 0px; padding: 5px; margin-bottom: 5px; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
}
.newnoti{
    border-left: 10px solid #7FDBFF; border-radius: 0px; padding: 5px; margin-bottom: 5px; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
}

