<div class="row">
    <!-- main col left -->
    <div class="col-sm-4">
        <basic-info user ="user"></basic-info>
        <recent-photo user="user"></recent-photo>
        <more-info user="user"></more-info>
    </div>
    <div class="col-sm-8">
        <div class="panel panel-default">
            <img ng-click="ShowBGImage()" style="cursor: pointer;" class="img-thumbnail" id="ImageFeed" ng-src="http://ktmsocialapi.somee.com/Image/User/Upload/{{user.bgUser.url}}" alt="" />
            <div style="margin: 5px; cursor: pointer">
                <a ng-click="ChangeBG()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Thay ảnh bìa</a>
                <a ng-click="ShowPostFeed()"><i class="fa fa-tags" aria-hidden="true"></i> Đăng bài</a>
            </div>
        </div>
        <div id="mileStoneList"></div>
        <div id="myList" ng-repeat="feed in listFeed">
            <feed-item feed="feed" class="feed-{{feed.id}}"></feed-item>
        </div>
        <div>
            <button ng-click="isloadfeed==false && GetMoreFeed()" class="form-control btn btn-info" id="btnMoreFeed"><span ng-show="isloadfeed == false">Xem thêm...</span><i ng-show="isloadfeed == true" class='fa fa-circle-o-notch fa-spin' style='font-size:24px; color: black'></i></button>
        </div>  
    </div>
</div>

