
<div>
    <div ng-hide="true" ng-repeat="image in list">
        <img style="cursor: pointer;" class="img-thumbnail center" id="ImageFeed" ng-src="https://ktmsocial.somee.com/Image/User/Upload/{{image.url}}" />  
    </div>
    <div class="box-view-image" style="position: relative;">
        <img ng-swipe-left="Next()" ng-swipe-right="Back()" ng-click="Next()" style="max-height:450px;" style="cursor: pointer;" class="img-thumbnail center" id="ImageFeed" ng-src="https://ktmsocial.somee.com/Image/User/Upload/{{list[img].url}}" />  
    </div>
    <div class="btn-group">
            <code style="word-break: keep-all; white-space: normal;">Lúc {{list[img].dateUpload}}</code>
            <br>
            <button ng-disabled="(img <= 0)" class="btn btn-info" ng-click="Back()">Back</button>
            <button ng-disabled="(img >= list.length - 1)" class="btn btn-info" ng-click="Next()">Next</button>
            <button ng-style="{'visibility': (list[img].feed != null) ?'visible':'hidden'}"  class="btn btn-info" ng-click="ShowFeed(img)">Bài đăng</button>
    </div>
</div>
