<style>
    h2.activeborder {
        font-weight: bold;
        color: #39CCCC;
    }
</style>

<div ng-class="(curIndex == $index) ? 'well newnoti' : 'well oldnoti'" ng-repeat="cvs in conversation">
    <div class=" row" style="height:auto">
        <div class="col-xs-4 col-sm-3 ">
            <img class="img-circle" ng-click="ChangeChat($index)" style="margin-top: 5px; width: 55px; height:55px;cursor:pointer" ng-src="https://ktmsocial.somee.com/Image/User/Upload/{{cvs.avatar}}" />
        </div>
        <div class="col-xs-8 col-sm-9">
            <h6 ng-click="ChangeChat($index)" style="font-weight: bold; color: #0074D9; margin-top: 5px; margin-bottom: 5px; cursor: pointer"><span>{{cvs.name}}</span><i style="color: #7FDBFF" class="fa fa-paper-plane" aria-hidden="true"></i></h6>
            <p class="content" style="font-style: italic; margin-bottom: 0px;"><span style="font-weight:bold;"><span ng-show="cvs.conversation.messages[cvs.conversation.messages.length - 1].fromUsername == authentication.userName">Bạn: </span><span ng-show="cvs.conversation.messages[cvs.conversation.messages.length - 1].fromUsername != authentication.userName">{{cvs.shortname}}: </span>{{cvs.conversation.messages[cvs.conversation.messages.length - 1].message1}}</span></p>
            <code style="padding: 0px;">Lúc {{cvs.conversation.messages[cvs.conversation.messages.length - 1].timeSpan}}</code>
        </div>
    </div>
</div>
