<style>
    h2.activeborder {
        font-weight: bold;
        color: #39CCCC;
    }
</style>
<ul class=" dropdown">
    <div class="friends-grids" ng-repeat="cvs in conversation">
        <div class="grids-left">
            <img style="margin:5px;" ng-src="http://ktmsocialapi.somee.com/Image/User/Upload/{{cvs.avatar}}" />
        </div>
        <!--<div class="friend-grid"><p class="flowers"> 21k</p></div>-->
        <div class="grids-right">
            <h2 ng-class="{activeborder: curIndex == $index}" ng-click="ChangeChat($index)" style="cursor: pointer">{{cvs.name}} <i class="fa fa-paper-plane" aria-hidden="true"></i></h2>
            <!--<img src="images/heart.png" />-->

            <div style="padding-left:20px; font-size:12px; font-style:italic;">
                <span style="font-weight:bold;"><span ng-show="cvs.conversation.messages[cvs.conversation.messages.length - 1].fromUsername == authentication.userName">Bạn: </span><span ng-show="cvs.conversation.messages[cvs.conversation.messages.length - 1].fromUsername != authentication.userName">{{cvs.shortname}}: </span>{{cvs.conversation.messages[cvs.conversation.messages.length - 1].message1}}</span>
                <br />
                <code style="font-size:10px;">Lúc: {{cvs.conversation.messages[cvs.conversation.messages.length - 1].timeSpan}}</code>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
</ul>