<div class="modal fade" id="modalNotification1" role="dialog" style="z-index: 1552;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="color: #85144b; font-style: italic; ">
            <div class="modal-header" style="background-color: rgba(0, 0, 0, 0);">
                <button type="button" class="close" data-dismiss="modal"><i style="font-size: 30px;" class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">CHỈNH SỬA BÌNH LUẬN NÈ</h4>
            </div>
            <div class="modal-body" style="margin: 5px;">
                <div id="modalNoti1"></div>
            </div>
            <div class="modal-footer" style="padding: 5px; margin-top: 0px; background-color: rgba(0, 0, 0, 0);">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bấm giùm mắm</button>
            </div>
        </div>
    </div>
</div>