<div class="well" style="padding-bottom: 0px; margin: 0px 0px 10px 0px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)">
    <form id="addfeed" class="form-horizontal" role="form" novadilation name="myform">
      
        <h4>Có gì mới không mắm ?</h4>
        
        <div class="form-group" style="padding:14px;">
            <label for="title">Nhập tiêu đề: </label> <label ng-show="myform.title.$error.required" style="color:red;">(*) Tiêu đề phải có nội dung</label>
            <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" ng-model="title" name="title" placeholder="Tiêu đề của mắm..." class="form-control" required />
            <label for="title">Nhập nội dung: </label> <label ng-show="myform.content.$error.required" style="color:red;">(*) Nội dung phải có</label>
            <textarea autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="content" name="content" class="form-control" placeholder="Cập nhật status của bạn" rows="3" required></textarea>
            <br />
            <div style=" display: flex; flex-wrap: wrap;">

                <span ng-repeat="f in files">
                    <figure>
                        <img ngf-thumbnail="f" style="margin: 5px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)" width="60" height="60">
                        <figcaption style="font-size: 9px;">{{f.name | limitTo:5 }}...</figcaption>
                    </figure>
                </span>
            </div>
            <button class="btn btn-primary" ngf-select ng-model="files" multiple
                    accept="image/*">
                <i class="fa fa-picture-o" aria-hidden="true"></i> Thêm ảnh
            </button>
            <button ng-disabled="myform.content.$invalid || myform.title.$invalid" ng-click="UploadFeed(files)" class="btn btn-primary" id="btnAddMultiImage" type="button"><i class="fa fa-tags" aria-hidden="true"></i> Đăng bài</button>
        </div>

    </form>
</div>


